/* .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .flex-item {
    background-color: rgb(91, 128, 184);
    width: 100px;
    height: 100px;
    margin: 10px;
  } */
  /* #box1 {
    transform: translate(-1000px);
  } */